@tailwind base;
@tailwind components;
@tailwind utilities;

* { 	
    -webkit-tap-highlight-color: rgba(0,0,0,0);
 }

html {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

